{% extends "base.html" %}
{% load static %}
{% block title %}Update Meeting{% endblock %}
{% block content %}

<div class="flex flex-col lg:flex-row justify-between gap-8">
    <aside class="w-full">
        <h1 class="mb-4">Update {{ meeting.get_category_display }} Meeting.</h1>
        <h2>Information</h2>
        <p>Use this page to update the date and type of meeting.</p>
        <p>This meeting has {{ agenda_count}} items on the agenda.</p>
    </aside>
    
    <section class="p-4 rounded bg-gray-50 shadow-md w-full">
        <h2>Details</h2>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button class="btn-primary" type="submit">Submit</button>
        </form>
    </section>
</div>

{% endblock %}