{% extends "base.html" %}
{% load static %}
{% block title %}Application Details{% endblock %}
{% block content %}

<div class="flex flex-col lg:flex-row justify-between gap-8">
    <aside class="w-full">
        <h1 class="mb-4">Your {{ application.submission_date|date:"d F Y"}} Application.</h1>
        <h2>Information</h2>

        {% if not application.evidence %}
            <div class="flex flex-row items-baseline gap-2 mb-4">
                <i class="fa-solid fa-circle-exclamation text-orange-400"></i>
                <p class="italic">You have not uploaded any evidence. Please upload it now.</p>
            </div>
            
            <form class="border border-uni-violet rounded p-4 mb-4" enctype="multipart/form-data" method="post">
                {% csrf_token %}

                <label for="evidence">Evidence</label>
                <input type="file" name="evidence" class="mb-4 block" id="evidence" required>

                <button class="px-4 py-2 rounded text-gray-100 bg-uni-violet shadow-md hover:bg-uni-violet-hover hover:shadow-none hover:text-gray-100" type="submit">Upload Evidence</button>
            </form>
        {% endif %}

        <p>This application is {{ application.get_status_display|lower }}, so you cannot edit any details at this time.</p>

    </aside>
    
    <section class="p-4 rounded bg-gray-50 shadow-md w-full">
        <h2>Application Details</h2>

        <label for="circumstance">Circumstance</label>
        <input type="text" id="circumstance" name="circumstance" class="w-full bg-transparent rounded-sm border border-uni-violet mb-2" value="{{ application.get_circumstance_display }}" disabled>

        <label for="date">Date of Circumstance</label>
        <input type="text" id="date" name="date" value="{{ application.start_date }} to {{ application.end_date|default:"Ongoing" }}" class="bg-transparent rounded-sm border-uni-violet mb-2 w-full" disabled>

        <label for="description">Description</label>
        <textarea name="description" id="description" class="w-full bg-transparent rounded-sm border border-uni-violet mb-2" disabled>{{ application.description }}</textarea>

        {% if application.evidence %}
            <label for="evidence">Evidence</label>
            <form id="evidence" action="{% url "download" %}" method="post" target="_blank">
                {% csrf_token %}
                <input type="hidden" name="file" value="{{ application.evidence }}">
                <button class="border rounded border-uni-violet px-4 py-2 mb-4 shadow-md hover:shadow-none hover:bg-uni-violet hover:text-gray-100" type="submit">Download Evidence</button>
            </form>
        {% endif %}

        {% for assessment in assessments %}
        <div class="border-t pt-4">
            <h2>Assessment {{ forloop.counter }} Details</h2>
            <label for="code">Module Code</label>
            <input type="text" name="code" id="code" value="{{ assessment.module}}" class="bg-transparent rounded-sm border-uni-violet mb-4 w-full" disabled>

            <label for="assessment">Name of Affected Assessment</label>
            <input type="text" name="assessment" id="assessment" value="{{ assessment.assessment }}" class="bg-transparent rounded-sm border-uni-violet mb-4 w-full" disabled>

            <label for="action">Requested Action</label>
            <input type="text" name="action" id="action" value="{{ assessment.get_action_display }}" class="bg-transparent rounded-sm border-uni-violet mb-4 w-full" disabled>

            {% if assessment.extension_date %}
                <label for="extension-date">Extension Date</label>
                <input type="text" name="extension-date" id="extension-date" value="{{ assessment.extension_date }}" class="bg-transparent rounded-sm border-uni-violet mb-4 w-full" disabled>
            {% endif %}

            <label for="info">Further Information</label>
            <textarea name="info" id="info" class="bg-transparent rounded-sm border-uni-violet mb-4 w-full" disabled>{{ assessment.description }}</textarea>
        </div>
        {% endfor %}

    </section>
</div>

{% endblock %}