{% extends "base.html" %}
{% load static %}
{% block title %}{{ application.applicant }}'s Application Details{% endblock %}
{% block content %}

<div class="flex flex-col lg:flex-row justify-between gap-8">
    <aside class="w-full">
        <h1 class="mb-4">{{ application.applicant }}'s Application Details.</h1>
        <h2>Information</h2>
        <p class="mb-2">Please review the details of this application and ensure they are approriate for submission to scrutiny.</p>
        
        {% if not application.evidence %}
            <div class="flex flex-row items-baseline gap-2 my-4">
                <i class="fa-solid fa-circle-exclamation text-orange-400"></i>
                <p class="italic">This application has not had any evidence uploaded yet.</p>
            </div>

            <form action="{% url "ecf_application:reminder" pk=application.id %}" method="post">
                {% csrf_token %}
                <button class="btn-secondary" type="submit">Send Reminder</button>
            </form>

        {% else %}
            <form id="evidence" action="{% url "download" %}" method="post" target="_blank">
                {% csrf_token %}
                <input type="hidden" name="file" value="{{ application.evidence }}">
                <button class="text-uni-violet hover:underline" type="submit">Download Application Evidence</button>
            </form>
        {% endif %}

        <div class="flex flex-row items-baseline gap-2 my-4">
            <i class="fa-solid fa-circle-info text-uni-violet"></i>
            <p class="italic">Adding comments will prompt students to review their application automatically.</p>
        </div>


        <h2 class="mt-4">Student Details</h2>
        <table class="w-full">
            <tr>
                <td>ID</td>
                <td>{{ application.applicant.id }}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{ application.applicant }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ application.applicant.email }}</td>
            </tr>
            <tr>
                <td>Department</td>
                <td>{{ application.applicant.get_department_display }}</td>
            <tr>
                <td>Course</td>
                <td>{{ student.course }}</td>
            </tr>
            <tr>
                <td>Level  of Study</td>
                <td>{{ student.study_level }}</td>
            </tr>
            {% if student.support_plan %}
                <tr>
                    <td>Support Plan</td>
                    <td>
                        <form action="{% url "download" %}" method="post" target="_blank">
                            {% csrf_token %}
                            <input type="hidden" name="file" value="{{ student.support_plan }}">
                            <button class="text-uni-violet hover:underline" type="submit">Download Support Plan</button>
                        </form>
                    </td>
                </tr>
            {% endif %}
        </table>

        <div class="mt-16 flex gap-4 justify-end">
            <button class="btn-secondary border-red-600 hover:bg-red-700">Reject</button>
            <button class="btn-secondary border-emerald-600 hover:bg-emerald-700">Approve</button>
    </div>
    </aside>
    
    <section class="p-4 rounded bg-gray-50 shadow-md w-full">
        <h2>Application Details</h2>

        <form action="{% url "ecf_application:comment" pk=application.id %}" method="post">
            {% csrf_token %}

            <p>Circumstance</p>
            <p class="bg-transparent rounded-sm border border-uni-violet mb-2 p-2">{{ application.get_circumstance_display }}</p>

            <p>Date of Circumstance</p>
            <p class="bg-transparent rounded-sm border border-uni-violet mb-2 p-2">{{ application.start_date }} to {{ application.end_date|default:"Ongoing" }}</p>

            <label for="description">Description</label>
            <textarea name="description" id="description" class="w-full bg-transparent rounded-sm border border-uni-violet mb-2" disabled>{{ application.description }}</textarea>
            
            {% if application_comments %}
                <h3>Comments</h3>
                <ul>
                    {% for comment in application_comments %}
                        <li class="italic">{{ comment.user}} on {{ comment.date }}</li>
                        <li class="mb-2"> {{ comment.comment }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <button id="add-comment" class="mt-2 text-uni-violet hover:underline">Add Comment</button>
            <textarea name="application-comment" id="comment-box" class="w-full bg-transparent border border-uni-violet hidden" placeholder="Add a comment..." disabled></textarea>


            {% for assessment in assessments %}
            <div class="border-t pt-4">
                <h2>Assessment {{ forloop.counter }} Details</h2>
                <p>Module Code</p>
                <p class="bg-transparent rounded-sm border border-uni-violet mb-2 p-2">{{ assessment.module}}</p>

                <p>Name of Affected Assessment</p>
                <p class="bg-transparent rounded-sm border border-uni-violet mb-2 p-2">{{ assessment.assessment }}</p>

                <p>Requested Action</p>
                <p class="bg-transparent rounded-sm border border-uni-violet mb-2 p-2">{{ assessment.get_action_display }}</p>

                {% if assessment.extension_date %}
                    <p>Extension Date</p>
                    <p class="bg-transparent rounded-sm border border-uni-violet mb-2 p-2">{{ assessment.extension_date }}</p>
                {% endif %}

                <label for="info">Further Information</label>
                <textarea name="info" id="info" class="bg-transparent rounded-sm border-uni-violet mb-2 w-full" disabled>{{ assessment.description }}</textarea>
                
                {% if assessment_comments %}
                    <h3>Comments</h3>
                    <ul>
                        {% for comment in assessment_comments %}
                            {% if comment.assessment == assessment %}
                                <li class="italic">{{ comment.user}} on {{ comment.date }}</li>
                                <li class="mb-2"> {{ comment.comment }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}

                <button id="add-comment" class="mt-4 cursor-pointer text-uni-violet hover:underline">Add Comment</button>
                <textarea name="assessment-{{ assessment.id }}-comment" id="comment-box" class="w-full bg-transparent border border-uni-violet hidden" placeholder="Add a comment..." disabled></textarea>
            </div>
            {% endfor %}

            <button class="btn-primary mt-4 w-full hidden" type="submit" id="submit-comments">Submit Comments</button>
        </form>
    </section>
</div>

<script src="{% static "ecf_applications/js/comment_control.js" %}"></script>
{% endblock %}