{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}New Application{% endblock %}
{% block content %}

<div class="flex flex-col lg:flex-row justify-between gap-8">
    <aside class="w-full">
        <h1 class="mb-4">New Extenuating Circumstances Application.</h1>
        <h2 class="mb-2">Information</h2>
        <div class="flex flex-row items-baseline gap-2 mb-4">
            <i class="fa-solid fa-circle-info text-uni-violet"></i>
            {% if user.student.support_plan %}
                <p class="italic">Your account has a registered learning support plan. This will be forwarded along with your application form.</p>
            
            {% else %}
                <p class="italic">You do not have a learning support plan registered to your account. If this is a mistake, please upload it on your <a href="" class="text-uni-violet hover:underline">profile page</a>.</p>
            {% endif %} 
        </div>

        <p>This form is for the purpose of reporting medical or personal circumstances that may be impacting your studies in relation to:</p>
        <ul class="list-disc list-inside ml-2 mb-4">
            <li>Assessments, including examinations and coursework</li>
            <li>None or late submission of coursework</li>
            <li>Absence from study of more than 7 calendar days</li>
        </ul>
        <p class="mb-4">It is your responsibility to notify your department by completing this form at the earliest opportunity if there are any extenuating circumstances that might have a bearing on examination / assessment performance.</p>

    </aside>
    
    <section class="p-4 rounded-sm bg-gray-50 shadow-md w-full">
        <form enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}
            {{ wizard.management_form }}
            {{ wizard.form.management_form }}
            {{ wizard.form.as_p }}

            <div class="flex flex-row justify-between border-t pt-2 border-gray-300">
                <button type="submit" class="px-4 py-2 rounded-sm text-gray-100 bg-uni-violet drop-shadow-md hover:bg-uni-violet-hover hover:drop-shadow-none">Continue</button>
            </div>
        </form>

        <script src="{% static "ecfapps/js/application_form_control.js" %}"></script>
    </section>
</div>

{% endblock %}
