{% extends "base.html" %}
{% load static %}
{% block title %}Application Submitted{% endblock %}
{% block content %}

<div class="flex flex-col lg:flex-row justify-between gap-8">
    <aside class="w-full">
        <h1 class="mb-4">Your {{ application.submission_date|date:"d F Y"}} Application.</h1>
        <h2 class="mb-2">Information</h2>
        <p class="mb-4">This page allows you to view the information that you submitted for your extenuating circumstances application. You cannot edit an application in progress.</p>

        {% if user.student.support_plan %}
            <div class="flex flex-row items-baseline gap-2 mb-4">
                <i class="fa-solid fa-circle-info text-uni-violet"></i>
                <p class="italic">Your learning support plan was submitted with this application.</p>
            </div>
        {% endif %} 

        {% if application.evidence == "" %}
            <div class="flex flex-row items-baseline gap-2 mb-4">
                <i class="fa-solid fa-circle-exclamation text-orange-400"></i>
                <p class="italic">You have not submitted your evidence yet. Please use the 'Upload Evidence' button to upload it now.</p>
            </div>

            <button id="open-evidence-form" class="px-4 py-2 rounded-sm border border-uni-violet drop-shadow-md hover:drop-shadow-none hover:bg-uni-violet hover:text-gray-100">Upload Evidence</button>

            <div id="evidence-form" class="hidden fixed z-50 left-0 top-0 bg-gray-800/70 w-full h-full">
                <div class="fixed z-50 bg-gray-100 left-1/2 top-1/2 -translate-x-1/2 -translate-y-full w-5/6 p-4 lg:w-auto rounded">
                    <button id="close-evidence-form" class="absolute right-4 top-2 text-3xl text-gray-400 hover:text-gray-600">&times;</button>

                    <h2 class="mb-4">Upload Evidence</h2>
                    <form enctype="multipart/form-data" method="post" class="">
                        {% csrf_token %}
                       
                        {{ evidence_form.as_p }}
                    
                        <button type="submit" class="px-4 py-2 rounded-sm text-gray-100 bg-uni-violet drop-shadow-md hover:bg-uni-violet-hover hover:drop-shadow-none">Upload</button>
                    </form>
                </div>
            </div>
        {% endif %}

    </aside>
    
    <section class="p-4 rounded bg-gray-50 shadow-md w-full">
        <h2>Application Information</h2>
        <label for="circumstance">Type of Circumstance</label>
        <input type="text" value="{{ application.get_circumstance_display}}" name="circumstance" class="bg-transparent rounded-sm border-uni-violet mb-4 w-full" disabled>

        <label for="date">Date of Circumtance</label>
        <input type="text" name="date" value="{{ application.start_date }} to {{ application.end_date|default:"Ongoing" }}" class="bg-transparent rounded-sm border-uni-violet mb-4 w-full" disabled>

        <label for="description">Description of Circumstance</label>
        <textarea name="description" class="bg-transparent rounded-sm border-uni-violet mb-4 w-full" rows="5" disabled>{{ application.description }}</textarea>

        {% if application.evidence != "" %}
            <label for="evidence">Evidence</label>
            <input type="text" value="{{ application.evidence_file }}" name="evidence" class="bg-transparent rounded-sm border-uni-violet mb-4 w-full" disabled>
            <form action="{% url "download" %}" method="get" class="mb-4">
                <input type="hidden" name="file" value="{{ application.evidence }}">
                <button type="submit" class="px-4 py-2 rounded-sm text-gray-100 bg-uni-violet drop-shadow-md hover:bg-uni-violet-hover hover:drop-shadow-none">Download Evidence</button>
            </form>
        {% endif %}

        {% for assessment in assessments %}
            <div class="border-t pt-4">
                <h2>Assessment {{ forloop.counter }}</h2>
                <label for="code">Module Code</label>
                <input type="text" name="code" value="{{ assessment.module_code}}" class="bg-transparent rounded-sm border-uni-violet mb-4 w-full" disabled>

                <label for="assessment">Name of Affected Assessment</label>
                <input type="text" name="assessment" value="{{ assessment.assessment }}" class="bg-transparent rounded-sm border-uni-violet mb-4 w-full" disabled>

                <label for="action">Request Action</label>
                <input type="text" name="action" value="{{ assessment.get_action_display }}" class="bg-transparent rounded-sm border-uni-violet mb-4 w-full" disabled>

                <label for="info">Further Information</label>
                <textarea name="info" class="bg-transparent rounded-sm border-uni-violet mb-4 w-full" rows="5" disabled>{{ assessment.more_info }}</textarea>
            </div>
        {% endfor %}
    </section>
</div>

<script src="{% static "ecfapps/js/evidence_form_control.js" %}"></script>
{% endblock %}