{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}New Application{% endblock %}
{% block content %}

<div class="flex flex-col lg:flex-row justify-between gap-8">
    <aside class="w-full">
        <h1 class="mb-4">New Extenuating Circumstances Application.</h1>
        <h2 class="mb-2">Information</h2>
        <div class="flex flex-row items-baseline gap-2 mb-4">
            <i class="fa-solid fa-circle-info text-uni-violet"></i>
            {% if user.student.support_plan %}
                <p class="italic">Your account has a registered learning support plan. This will be forwarded along with your application form.</p>
            
            {% else %}
                <p class="italic">You do not have a learning support plan registered to your account. If this is a mistake, please upload it on your <a href="" class="text-uni-violet hover:underline">profile page</a>.</p>
            {% endif %} 
        </div>
        
        <p class="mb-4">Please use the following sections to provide details of the module(s) and assessment(s) affected and what mitigating action you are requesting.</p>    
        <p class="mb-4">Your request will be considered in line with details provided. You may wish to have a meeting with your personal tutor or other departmental support staff to discuss appropriate actions or requests. Further information on which is the most appropriate request to choose can be found on your Student Handbook.</p>
        <p class="mb-4">The decision regarding any request will be communicated to you at a later point via your university email. Until we have been in contact to tell you otherwise, you should aim to submit work by the original deadline.</p>
    </aside>
    
    <section class="p-4 rounded-sm bg-gray-50 shadow-md w-full">
        <form enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}
            {{ wizard.management_form }}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                <div id="{{ form.prefix }}-container" class="module-form-container">
                    <h2 class="mb-4">Module Assessment {{ forloop.counter }}</h2>
                    {{ form.as_p }}
                </div>
            {% endfor %}     

            <div id="button-container">
                <button id="add-button" class="mt-2 cursor-pointer text-uni-violet hover:underline">Add Another Module</button>
                
                <div class="flex flex-row justify-between mt-4 border-t pt-2 border-gray-300">
                    {% if wizard.steps.prev %}
                        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" class="px-4 py-2 rounded-sm border border-uni-violet drop-shadow-md cursor-pointer hover:text-uni-violet">Back to First Step</button>
                    {% endif %}
        
                    <button type="submit" class="px-4 py-2 rounded-sm text-gray-100 bg-uni-violet drop-shadow-md hover:bg-uni-violet-hover hover:drop-shadow-none">Submit</button>
                </div>

            </div>

        </form>

        <script src="{% static "ecfapps/js/module_form_control.js" %}"></script>
    </section>
</div>

{% endblock %}
