{% extends "base.html" %}
{% load static %}
{% block title %}Change Password{% endblock %}
{% block content %}

<div class="flex flex-col lg:flex-row justify-between gap-8">
    <aside class="w-full">
        <h1 class="mb-4">Change Password.</h1>
        <h2 class="mb-2">Information</h2>
        <p class="mb-2">You can change your password here. Please make sure to use a strong password.</p>
    </aside>
    
    <section class="p-4 rounded bg-gray-50 shadow-md w-full">
        <h2 class="mb-2">Details</h2>
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form }}
            {{ student_form }}
            <button class="btn-primary w-full" type="submit">Change Password</button>
        </form>
    </section>
</div>
{% endblock %}
