{% extends "base.html" %}
{% block title %}Dashboard{% endblock title %}
{% block content %}

<h1 class="mb-8">Welcome, {{user}}.</h1>
<div class="border border-uni-violet rounded">
    <div class="flex flex-row items-center justify-between p-4">
        <h2>Recent Applications</h2>
        <a class="btn-primary hover:text-gray-100" href="{% url "ecf_application:new" %}">New Application</a>
    </div>

    {% for app in ecf_apps %}
        <a class="flex justify-between items-center gap-3 p-4 hover:bg-gray-200 border-t" href="{% if app.status == 1 %} {{ app.get_absolute_url }} {% else %} {% url "ecf_application:edit" pk=app.id %} {% endif %}">
            <div>
                <p>{{ app.get_circumstance_display }}</p>
                <p class="text-sm">Submitted: {{ app.submission_date|date:"d F Y" }}</p>

                {% if app.evidence == "" %}
                    <div class="flex flex-row items-baseline gap-2">
                        <i class="fa-solid fa-circle-exclamation text-orange-400"></i>
                        <p class="italic">Evidence has not been uploaded.</p>
                    </div>
                {% endif %}
            </div>
            <p class="font-semibold text-right">{{ app.get_status_display|upper }}</p>
        </a>
    {% empty %}
        <p class="p-4 border-t">You have no applications.</p>
    {% endfor %}
</div>
    
{% endblock content %}
