{% extends "base.html" %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}

<div class="flex flex-col lg:flex-row justify-between gap-8">
    <aside class="w-full">
        <h1 class="mb-4">Profile.</h1>
        <h2 class="mb-2">Information</h2>

        {% if user.role == 1 %}
            <p class="mb-4">Your profile page allows you to view and edit your current details stored in the system. These details are automatically updated in any existing application you have made.</p>
        {% else %}
            <p class="mb-4">Your profile page allows you to view and edit your current details stored in the system.</p>
        {% endif %}

        <p class="mb-4"><a class="text-uni-violet hover:underline" href="{% url "change_password" %}">Trying to change your password?</a></p>

        {% if student.support_plan %}
            <h2 class="mb-2">Support Plan</h2>
            <p class="mb-2">You currently have an uploaded support plan on file.</p>

            <form action="{% url "download" %}" method="post" target="_blank">
                {% csrf_token %}
                <input type="hidden" name="file" value="{{ student.support_plan }}">
                <button class="btn-secondary" type="submit">Download Support Plan</button>
            </form>
        {% endif %}
    </aside>
    
    <section class="p-4 rounded bg-gray-50 shadow-md w-full">
        <h2 class="mb-2">Details</h2>
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form }}
            {{ student_form }}
            <button class="btn-primary w-full" type="submit">Update</button>
        </form>
    </section>
</div>
{% endblock %}
