{% extends "base.html" %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}

<div class="flex flex-col lg:flex-row justify-between gap-8">
    <aside class="w-full">
        <h1 class="mb-4">Profile.</h1>
        <h2 class="mb-2">Information</h2>
        <p class="mb-4">Your profile page allows you to view and edit your current details stored in the system. These details are automatically updated in any existing application you have made.</p>
    </aside>
    
    <section class="p-4 rounded bg-gray-50 shadow-md w-full">
        <h2 class="mb-2">Details</h2>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button class="bg-uni-violet rounded text-gray-100 mt-4 px-4 py-2 shadow-md hover:shadow-none hover:bg-uni-violet-hover w-full" type="submit">Update</button>
        </form>
    </section>
</div>
{% endblock %}
