{% extends "base.html" %}
{% block title %}Dashboard{% endblock title %}
{% block content %}

<h1 class="mb-8">Welcome, {{user}}.</h1>
<div class="border border-uni-violet rounded">
    <div class="flex flex-row items-center justify-between p-4">
        <h2>Applications Requiring Attention</h2>

    </div>

    <ul>
        {% for app in ecf_apps %}
        <li class="border-b rounded hover:bg-gray-200 p-4 first:border-t last:border-0">
            <a href="{{ app.get_absolute_url }}" class=" flex flex-col md:flex-row md:justify-between md:items-center gap-2">
                <div>
                    <p>{{ app.applicant }}: {{ app.get_circumstance_display }}</p>
                    <p class="text-sm">Submitted: {{ app.submission_date|date:"d F Y"}}</p>

                {% if app.evidence == "" %}
                    <div class="flex flex-row items-baseline gap-2">
                        <i class="fa-solid fa-circle-exclamation text-orange-400"></i>
                        <p class="italic">Evidence has not been uploaded.</p>
                    </div>
                {% endif %}
                </div>
                <p class="font-semibold">{{ app.get_status_display|upper }}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
    
{% endblock content %}
