{% extends "base.html" %}
{% block title %}Dashboard{% endblock title %}
{% block content %}

<h1 class="mb-8">Welcome, {{user}}.</h1>
<div class="border border-uni-violet rounded mb-4">
    <div class="flex flex-row items-center justify-between p-4">
        <h2>Applications Requiring Attention</h2>
    </div>

    {% for app in attention_apps %}
        <a class="flex justify-between items-center gap-3 p-4 hover:bg-gray-200 border-t" href="{{ app.get_absolute_url }}">
            <div>
                <p>{{ app.get_circumstance_display }}</p>
                <p class="text-sm">Submitted: {{ app.submission_date|date:"d F Y" }}</p>

                {% if app.evidence == "" %}
                    <div class="flex flex-row items-baseline gap-2">
                        <i class="fa-solid fa-circle-exclamation text-orange-400"></i>
                        <p class="italic">Evidence has not been uploaded.</p>
                    </div>
                {% endif %}
            </div>
            <p class="font-semibold text-right">{{ app.get_status_display|upper }}</p>
        </a>
    {% endfor %}
</div>

<div class="border border-uni-violet rounded">
    <div class="flex flex-row items-center justify-between p-4">
        <h2>Applications Awaiting Student Action</h2>
    </div>

    {% for app in other_apps %}
        <a class="flex justify-between items-center p-4 hover:bg-gray-200 border-t" href="{{ app.get_absolute_url }}">
            <div>
                <p>{{ app.get_circumstance_display }}</p>
                <p class="text-sm">Submitted: {{ app.submission_date|date:"d F Y" }}</p>

                {% if app.evidence == "" %}
                    <div class="flex flex-row items-baseline gap-2">
                        <i class="fa-solid fa-circle-exclamation text-orange-400"></i>
                        <p class="italic">Evidence has not been uploaded.</p>
                    </div>
                {% endif %}
            </div>
            <p class="font-semibold">{{ app.get_status_display|upper }}</p>
        </a>
    {% endfor %}
</div>
    
{% endblock content %}
