{% extends "base.html" %}
{% block title %}Dashboard{% endblock title %}
{% block content %}

<h1 class="mb-8">Welcome, {{user}}.</h1>
<div class="flex gap-4 justify-between flex-col lg:flex-row">
    <section class="flex-1 border border-uni-violet rounded mb-auto">
        <h2 class="p-4">Applications Requiring Attention</h2>

        {% for app in attention_apps %}
            <a class="flex justify-between items-center gap-3 p-4 hover:bg-gray-200 border-t rounded" href="{{ app.get_absolute_url }}">
                <div>
                    <p>{{ app.get_circumstance_display }}</p>
                    <p class="text-sm">Submitted: {{ app.submission_date|date:"d F Y" }}</p>
    
                    {% if app.evidence == "" %}
                        <div class="flex flex-row items-baseline gap-2">
                            <i class="fa-solid fa-circle-exclamation text-orange-400"></i>
                            <p class="italic">Evidence has not been uploaded.</p>
                        </div>
                    {% endif %}
                </div>
                <p class="font-semibold text-right">{{ app.get_status_display|upper }}</p>
            </a>
        {% empty %}
            <p class="p-4 border-t">No applications require your attention at this time.</p>
        {% endfor %}
    </section>

    <div class="lg:w-1/2">
        {% if ongoing_meeting %}
        <section class="border border-uni-violet rounded mb-4">
            <h2 class="p-4">Ongoing Meeting</h2>
            <a class="block p-4 hover:bg-gray-200 border-t rounded" href="{{ ongoing_meeting.get_absolute_url }}">
                <p>{{ ongoing_meeting.get_category_display }}</p>
                <p class="text-sm">{{ ongoing_meeting.date_time|date:"d F Y H:i" }}</p>
                <p class="text-sm">Created by {{ ongoing_meeting.creator }}</p>
            </a>
        </section>
        {% endif %}
    
        <section class="flex-1 mb-auto border border-uni-violet rounded">
            <div class="flex flex-row items-center justify-between p-4">
                <h2>Upcoming Meetings</h2>
                <a class="btn-primary hover:text-gray-100" href="{% url "meetings:new" %}">New Meeting</a>
            </div>
    
    
            {% for meeting in meetings %}
                <a class="block p-4 hover:bg-gray-200 border-t rounded" href="{{ meeting.get_absolute_url }}">
                    <p>{{ meeting.get_category_display }}</p>
                    <p class="text-sm">{{ meeting.date_time|date:"d F Y H:i" }}</p>
                    <p class="text-sm">Created by {{ meeting.creator }}</p>
                </a>
            {% empty %}
                <p class="p-4 border-t">No meetings scheduled at this time.</p>
            {% endfor %}
    
        </section>
    </div>

</div>

<section class="mt-4 border border-uni-violet rounded">
    <h2 class="p-4">Applications Awaiting Student Action</h2>

    {% for app in other_apps %}
        <a class="flex justify-between items-center gap-3 p-4 hover:bg-gray-200 border-t rounded" href="{{ app.get_absolute_url }}">
            <div>
                <p>{{ app.get_circumstance_display }}</p>
                <p class="text-sm">Submitted: {{ app.submission_date|date:"d F Y" }}</p>

                {% if app.evidence == "" %}
                    <div class="flex flex-row items-baseline gap-2">
                        <i class="fa-solid fa-circle-exclamation text-orange-400"></i>
                        <p class="italic">Evidence has not been uploaded.</p>
                    </div>
                {% endif %}
            </div>
            <p class="font-semibold text-right">{{ app.get_status_display|upper }}</p>
        </a>
    {% empty %}
        <p class="p-4 border-t">No applications awaiting student action at this time.</p>
    {% endfor %}
</section>
    
{% endblock content %}
