{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Sheffield ECF</title>
    <link rel="shortcut icon" href="{% static "imgs/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" href="https://use.typekit.net/hgy7jka.css">
    {% tailwind_css %}
</head>

<body class="flex justify-center items-center flex-col lg:flex-row lg:h-dvh gap-4 lg:gap-20 max-w-7xl lg:mx-auto bg-gray-100 text-gray-900">
    {% if messages %}
        <div id="messages-container" class="fixed w-full top-0 left-0 z-50 flex flex-col gap-4 p-4 bg-uni-violet/90 text-white transition-transform">
            {% for message in messages %}
                <p class="max-w-7xl mx-auto">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    
    <header class="flex justify-center py-8 lg:w-1/4">
        <img class="w-20 lg:w-28" src="{% static "imgs/logo_vertical.png" %}" alt="Sheffield ECF logo">
    </header>
    
    <main class="px-4 w-full lg:w-1/3">
        {% block content %}{% endblock content %}
    </main>

    <script src="{% static "js/messages.js" %}"></script>
</body>
</html>
