{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | Sheffield ECF</title>
    <link rel="shortcut icon" href="{% static "imgs/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" href="https://use.typekit.net/hgy7jka.css">
    {% tailwind_css %}
    <script src="https://kit.fontawesome.com/c318dff6af.js" crossorigin="anonymous"></script>
</head>

<body class="flex flex-col max-w-7xl mx-auto min-h-dvh p-4 bg-gray-100 text-gray-900">
    {% if messages %}
        {% for message in messages %}
            <div id="messages-container" class="fixed w-full top-0 left-0 z-50 flex flex-col gap-2 p-4 text-gray-100 transition-transform">
                <p class="max-w-7xl mx-auto {{ message.tags }}">{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}

    <header class="flex items-center justify-between mb-8">
        <div class="flex-shrink-0">
            <a href="{% url "index" %}">
                <img class="h-12 md:hidden" src="{% static "imgs/logo_mobile.png" %}" alt="Sheffield ECF logo">
                <img class="h-12 hidden md:block" src="{% static "imgs/logo.png" %}" alt="Sheffield ECF logo">
            </a>
        </div>

        <nav class="flex justify-end lg:relative">
            <div id="nav-bar" class="absolute top-20 left-0 max-h-0 overflow-y-hidden transition-all w-full flex flex-col bg-gray-50 shadow-lg font-semibold lg:max-h-fit lg:relative lg:top-0 lg:overflow-y-visible lg:flex-row lg:shadow-none lg:gap-8 lg:bg-transparent">

                <a class="py-4" href="{% url "dashboard" %}">Dashboard</a>

                {% if request.user.role == 2 or request.user.role == 3 %}
                    <a class="py-4" href="{% url "meetings:list" %}">Meetings</a>
                    <a class="py-4" href="{% url "ecf_application:list" %}">ECF Applications</a>
                {% endif %}
                
                <button id="dropdown-button" class="hidden lg:flex lg:items-center lg:gap-2 hover:text-uni-violet" title="Dropdown button">
                    <p>{{ request.user }}</p> 
                    <i class="fa fa-chevron-down text-uni-violet transition-transform"></i>
                </button>
                
                <div id="dropdown" class="flex flex-col lg:absolute lg:top-16 lg:right-0 lg:max-h-0 lg:overflow-y-hidden lg:bg-gray-50 lg:shadow-lg lg:w-48 lg:rounded transition-all">
                    <a class="py-4 lg:p-4 lg:hover:bg-gray-200" href="{% url "profile" %}">Profile</a>
                    <a class="py-4 lg:p-4 lg:hover:bg-gray-200" href="{% url "signout" %}">Sign Out</a>
                </div>

            </div>
            
            <div id="notifications" class="absolute top-20 left-0 max-h-0 overflow-y-hidden transition-all w-full flex flex-col bg-gray-50 shadow-lg font-semibold lg:w-96 lg:left-auto lg:top-16 lg:rounded">
                <div class="flex justify-between p-4">
                    <h2>Notifications</h2>
                    <form action="{% url "mark_read" %}" method="post">
                        {% csrf_token %}
                        <button id="mark-read-button" type="submit" class="text-uni-violet hover:underline">Mark all as read</button>
                    </form>
                </div>

                {% for notification in notifications %}
                    <a href="{{ notification.application.get_absolute_url }}" class="flex items-center gap-4 font-normal px-4 py-2 mb-2 last:mb-0 hover:bg-gray-200">
                        {% if not notification.viewed %}
                            <div class="h-10 w-1 rounded bg-uni-violet"></div>
                        {% endif %}
                        
                        <div class="{% if notification.viewed %} text-gray-500 {% endif %}">
                            <p>{{ notification.message }}</p>
                            <p class="text-sm">{{ notification.created_at }}</p>
                        </div>
                    </a>
                {% empty %}
                    <p class="p-4">No notifications</p>
                {% endfor %}
            </div>

            <div class="flex gap-8">
                {% if request.user.role != 3 %}
                    <button class="lg:ml-8" id="notification-button" title="Notification button">
                        {% if unread_notifications %}
                            <i id="notification-bell" class="fa-solid fa-bell text-uni-violet"></i>
                            <span class="absolute bg-red-400 p-1 rounded-full after:absolute after:p-1 after:rounded-full after:right-0 after:top-0 after:bg-red-400 after:animate-ping"></span>
                        {% else %}
                            <i id="notification-bell" class="fa-regular fa-bell text-uni-violet"></i>
                        {% endif %}
                    </button>
                {% endif %}

                <button id="nav-button" class="lg:hidden" title="Navigation bar button">
                    <i class="fa-solid fa-bars w-5"></i>
                </button>
            </div>
        </nav>
    </header>

    <main class="flex-grow mb-8">
        {% block content %}{% endblock content %}
    </main>

    <footer>
        <p class="text-center text-sm text-gray-800">&copy; 2024 Ethan Watts</p>
    </footer>

    <script src="{% static "js/utils.js" %}"></script>
    <script src="{% static "js/messages.js" %}"></script>
</body>
</html>