{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | Sheffield ECF</title>
    <link rel="shortcut icon" href="{% static "imgs/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="https://use.typekit.net/hgy7jka.css">
    {% tailwind_css %}
    <script src="https://kit.fontawesome.com/c318dff6af.js" crossorigin="anonymous"></script>
</head>
<body class="flex flex-col max-w-6xl mx-auto min-h-dvh bg-gray-100 text-gray-900">
    <header class="flex flex-row items-center justify-between p-4 mb-4">
        <a href="{% url "index" %}">
            <img class="h-12 md:hidden" src="{% static "imgs/logo_mobile.png" %}" alt="Sheffield ECF logo">
            <img class="h-12 hidden md:block" src="{% static "imgs/logo.png" %}" alt="Sheffield ECF logo">
        </a>

        <nav class="flex flex-row gap-8 items-center">
            <div id="nav-bar" class="absolute h-0 overflow-y-hidden flex flex-col gap-8 top-20 left-0 w-full font-medium text-center bg-gray-100 shadow-md transition-all lg:relative lg:top-0 lg:flex-row lg:shadow-none lg:h-full lg:overflow-y-visible">
                <a href="{% url "dashboard" %}">Dashboard</a>
                <a id="dropdown-button" class="hidden lg:block hover:text-uni-violet hover:cursor-pointer">{{ user }} <i class="fa fa-chevron-down text-uni-violet transition-transform"></i></a>

                <div id="dropdown" class="flex flex-col gap-8 lg:absolute lg:right-0 lg:top-10 lg:bg-gray-50 lg:w-full lg:shadow lg:h-0 lg:transition-all lg:overflow-y-hidden lg:rounded">
                    <a href="{{ request.user.get_absolute_url }}">Profile</a>
                    <a href="{% url "signout" %}">Sign Out</a>
                </div>
            </div>
            
            <div class="flex flex-row gap-6">
                <button class="relative">
                    {% if user %}
                        <i class="fa-solid fa-bell text-uni-violet"></i>
                        <span class="absolute bg-red-400 p-1 rounded-full after:absolute after:p-1 after:rounded-full after:right-0 after:top-0 after:bg-red-400 after:animate-ping"></span>
                    {% else %}
                        <i class="fa-regular fa-bell text-uni-violet"></i>
                    {% endif %}
                </button>
                
                <button id="nav-button" class="lg:hidden">
                    <i class="fa-solid fa-bars w-5"></i>
                </button>
            </div>
        </nav>
    </header>
    
    <main class="flex-grow px-4 mb-4">
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        <p class="my-4 text-center text-gray-500">&copy; 2024 Ethan Watts</p>
    </footer>

    <script src="{% static "js/utils.js" %}"></script>
</body>
</html>